<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Berita - Dinas Pekerjaan Umum dan Penataan Ruang Kabupaten Bolaang Mongondow</title>
  <meta content="Dinas Pekerjaan Umum dan Penataan Ruang Kabupaten Bolaang Mongondow" name="description">
  <meta content="pupr, lolak, bolaang mongondow" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/favicon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="d-flex align-items-center">
        <a href="index.html" class="logo mr-3"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        <h1 class="logo"><a href="index.html">dpupr bolmong</a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li class="active"><a href="index.html">Beranda</a></li>

          <li class="drop-down"><a href="#">Profil</a>
            <ul>
              <li><a href="profil.html">Profil Pimpinan</a></li>
              <li><a href="visimisi.html">Visi Misi</a></li>
              <li><a href="struktur.html">Struktur Organisasi</a></li>
              <li><a href="tupoksi.html">Tugas & Fungsi</a></li>
              <li class="drop-down"><a href="#">Unit Kerja</a>
                <ul>
                  <li><a href="#">Bidang Perencanaan Teknis</a></li>
                  <li><a href="#">Bidang Pertanahan</a></li>
                  <li><a href="#">Bidang Penataan Ruang</a></li>
                  <li><a href="#">Bidang Binamarga</a></li>
                  <li><a href="#">Bidang Sumber Daya Air</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="drop-down"><a href="#">Layanan</a></li>

          <li class="drop-down"><a href="#">Informasi</a>
            <ul>
              <li><a href="berita.html">Berita</a></li>
              <li><a href="pengumuman.html">Pengumuman</a></li>
            </ul>
          </li>
          
          <li><a href="galery.html">Galery</a></li>
          
          <li><a href="download.html">Download</a></li>

          <li><a href="https://ppid.bolmongkab.go.id">E-PPID</a></li>

        </ul>

      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Berita</h2>
          <ol>
            <li><a href="#">Informasi</a></li>
            <li>Berita</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="assets/img/berita1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="#">DINAS PUPR GELAR AKHIR REVISI RTRW 2014 -2034 KAB. BOLAANG MONGONDOW</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="#">Admin</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="#"><time datetime="2021-03-25">05 April, 2021</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Dinas Pekerjaan Umum dan Penataan Ruang (PUPR) melaksanakan akhir revisi RTRW kabupaten Bolaang Mongondow (Bolmong) 13/12/2019 di Hotel Sutan Raja Kotamobagu.</p>
<p>
  Kegiatan ini dibuka oleh Kadis PUPR Ir. Channy Wayong, ME.

  Channyy dalam sambutannya mengatakan RTRW Kabupaten memuat tujuan, kebijakan, dan strategi penataan ruang, rencana struktur ruang, rencana pola ruang, penetapan kawasan strategis kabupaten, arahan pemanfaatan ruang, dan arahan pengendalian pemanfaatan ruang di wilayah kabupaten.</p>
<p>
  Lebih lanjut dia mengatakan Pemerintah Kabupaten Bolaang Mongodow melalui Dinas Pekerjaan Umum dan Penataan Ruang (PUPR) melaksanakan kegiatan penyusunan Revisi (perbaikan) Rencana Tata Ruang Wilayah Kabupaten Bolaang Mongondow Tahun 2014 – 2034 sebagai upaya dalam menyediakan rencana tata ruang yang mampu memenuhi kebutuhan masyarakat akan penataan ruang yang dinamis.</p>
<p>
  “Dalam merumuskan muatan RTRW Kabupaten harus mengacu muatan RTRW Nasional dan rencana rincinya (RTR pulau dan RTR kawasan strategis nasional), RTRW Provinsi dan rencana rincinya (RTR kawasan strategis provinsi) serta memperhatikan RTRW Kabupaten/kota yang berbatasan”. Sebut Channy.</p>
<p>
  Dia menjelaskan Perkembangan wilayah perkotaan pada dasarnya ditentukan oleh potensi internal wilayah perkotaan tersebut, pengaruh eksternal kawasan di sekitarnya serta kedudukan dan peran wilayah tersebut terhadap wilayah yang lebih luas secara keseluruhan. Menyadari berbagai peranan yang seharusnya dapat dilakukan oleh Pusat-pusat Kegiatan (PKW, PKL, PPK dan PPL) Kabupaten Bolaang Mongondow dan sehubungan dengan proses pembangunan yang sedang dan akan berlangsung, ternyata masih ada beberapa Pusat Kegiatan di wilayah pengembangan yang telah ditetapkan dalam Rencana Tata Ruang Wilayah Kabupaten Bolaang Mongondow Tahun 2014 – 2034 yang ternyata belum dapat menjawab percepatan pembangunan dan ”mempromosikan” wilayahnya agar mampu ikut berpartisipasi dalam pembangunan regional Kabupaten Bolaang Mongondow. Hal ini perlu kiranya ditelusuri faktor-faktor penyebabnya yang sekaligus menjadikan pokok permasalahannya.
</p>

                </p>
              </div>

              <div class="entry-footer clearfix">
                <div class="float-left">
                  <i class="icofont-folder"></i>
                  <ul class="cats">
                    <li><a href="#">Umum</a></li>
                  </ul>

                  <i class="icofont-tags"></i>
                  <ul class="tags">
                    <li><a href="#">Info</a></li>
                    <li><a href="#">Agenda</a></li>
                  </ul>
                </div>

                <div class="float-right share">
                  <a href="#" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                  <a href="#" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                  <a href="#" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                </div>

              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Cari</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>

              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Kategori</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Umum <span>(3)</span></a></li>
                  <li><a href="#">Khusus <span>(0)</span></a></li>
                </ul>

              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Berita Lainnya</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/berita2.jpeg" alt="">
                  <h4><a href="berita2.html">Pertama Digelar, Dinas PUPR Bolmong Laksanakan Uji Sertifikasi Tenaga Kerja Konstruksi</a></h4>
                  <time datetime="2021-03-31">05 April, 2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/berita3.jpg" alt="">
                  <h4><a href="berita3.html">Dinas PU Bolmong Gelar Evaluasi Penyusunan Tata Ruang</a></h4>
                  <time datetime="2021-03-31">05 April, 2021</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">Sosialisasi</a></li>
                  <li><a href="#">Rapat</a></li>
                  <li><a href="#">Covid</a></li>
                  <li><a href="#">Agenda</a></li>
                  <li><a href="#">Info</a></li>
                  <li><a href="#">HUT</a></li>
                </ul>

              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Dinas Pekerjaan Umum dan Penataan Ruang (DPUPR)</h3>
                <strong>Sosial Media</strong><br>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Link Terkait</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://pu.go.id">Kementrian PUPR</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://bolmongkab.go.id">Kabupaten Bolaang Mongondow</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://diskominfo.bolmongkab.go.id">Diskominfo Bolaang Mongondow</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://ppid.bolmongkab.go.id">PPID</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Menu Utama</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="berita.html">Berita</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="pengumuman.html">Pengumuman</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="galery.html">Galery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="download.html">Download</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2021 <strong><span>DPUPR Kabupaten Bolaang Mongondow</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Support by <a href="https://diskominfo.bolmongkab.go.id/">E-Government Tim</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>